{{#unless isEditable}}
  <div class='editable-area'>
    {{#if model.length}}
      {{model}}
    {{else}}
      Click to edit
    {{/if}}
  </div>
{{else}}
  {{#if isEditing}}
    {{update-aware-text-area class='wide editable-area' value=model bubbles=true focused=true placeholder=placeholderText }}
  {{else}}
    <div class="input-group">
      <div class='editable-area outlined'>
        {{#if model.length}}
          {{model}}
        {{else}}
          Click to edit
        {{/if}}
      </div>
      <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
    </div>
  {{/if}}
{{/unless}}
