<div class="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      {{partial 'modal/header'}}

      <div class="modal-body container-fluid">
        <div class='row'>
          <div class="col-md-10">
            <div class='row'>
              <div class='col-md-3'>Card Name:</div>
              <div class='col-md-9'>{{hover-aware-text-field model=model.name placeholderText="Enter a card name"}}</div>
            </div>
            <div class='row'>
              <div class='col-md-3'>Description:</div>
              <div class='col-md-9'>{{hover-aware-text-area model=model.description placeholderText="Enter a card description"}}</div>
            </div>
            <div class='row'>
              <div class='col-md-3'>Created On:</div>
              <div class='col-md-9'>{{model.createdAt}}</div>
            </div>
            <div class='row'>
              <div class='col-md-3'>Current Column:</div>
              <div class='col-md-9'>{{model.column.name}}</div>
            </div>
            <div class='row'>
              <div class='col-md-3'>Comments:</div>
              <div class='col-md-9'>{{hover-aware-text-area model=model.comments placeholderText="Enter a comment"}}</div>
            </div>
            <div class='row'>
              <div class='col-md-3'>Activity:</div>
              <div class='col-md-9'>
                {{#each activity in model.activityStream}}
                  Some user made changes - {{activity.date}} {{activity.activity}}<br/>
                {{/each}}
              </div>
            </div>
          </div>
          <div class="card-actions row col-md-2">
            <div class='row'>{{select-component model=model.column.board.members selections=assignees searchField='email' selectedOptionTemplate='option-view' optionTemplate='option-view' prompt='Assignee...' }}</div>
            {{bs-button size="lg" block=true type='danger' icon='fa fa-trash-o fa-fw' title="Delete" clicked="remove" }}
            {{bs-button size="lg" block=true icon='fa fa-archive fa-fw' title="Archive" clicked="archive"}}
          </div>
        </div>
      </div>

      {{partial 'modal/footer'}}

    </div>
  </div>
</div>

