<div class="modal-header">
    {{#bs-button type="button" clicked="closeModal" }}<i class="fa fa-times-circle-o"></i>{{/bs-button}}
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body" tabindex="-1">
    <table class="card-details">
        <tr><td>Card Name:</td><td>{{model.name}}</td></tr>
        <tr><td>Description:</td><td>{{model.description}}</td></tr>
        <tr><td>Created On:</td><td>{{model.createdAt}}</td></tr>
        <tr><td>Current Column:</td><td>{{model.column.name}}</td></tr>
    </table>
</div>
<div class="modal-footer">
  {{#bs-button type="primary" data-loading-text="Loading..." loading=loadingState title="Select" clicked="select" }}
      <i class="fa fa-check-circle-o pull-left"></i>&nbsp;{{selectButtonText}}
  {{/bs-button}}
  {{#bs-button type="primary" title="Cancel" clicked="closeModal" }}
      <i class="fa fa-times-circle-o pull-left"></i>&nbsp;{{cancelButtonText}}
  {{/bs-button}}
</div>
