<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">

      {{partial 'modal/header'}}

      <div class="modal-body">
        <form class='login-form' method='post'>
          <div class="input-group center">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            {{valid-input-text-field value=email loseFocusOnTab=false matchesPatternClass="valid-text" doesNotMatchPatternClass="invalid-text" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-zA-Z]{2})?)$" showOnNoMatch=true type="email" class='email form-control' autocorrect="off" autocapitalize="off" autofocus="autofocus" placeholder='Email Address' popoverContainer=".modal-body" popoverContent="Email is invalid"}}
          </div>
        </form>
        {{authMessage}}
        <div {{bind-attr class="alertClass"}}>{{alert}}</div>
      </div>
      <div class="modal-footer">
        {{bs-button size='lg' type="primary" clicked="sendReset" icon='fa fa-send' disabled=sendResetDisabled title=passwordResetButtonText}}
      </div>
    </div>
  </div>
</div>
